body{
    margin: 0;
}

.target{
    height: 100px;
    width: 100px;
    position: absolute;
    cursor: pointer;
}
.red {
    background: #cc1f26;
}
.blue{
    background: #2130cc;
}
.orange{
    background: #cc6428;
}