<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            height: 100vh;
            margin: 0;
        }
        table{
            width: 100%;
            height: 100%;
        }
        tr:nth-child(1){
            /*height: 100px;*/
            background: red;
        }
        tr:nth-child(2){
            background: blue;
        }
        tr:nth-child(3){
            height: 100px;
            background: orange;
        }
    </style>
</head>
<body>
    <table style="width: 100%;height: 100%;border: 1px solid black;">
        <tr style="">
            <td colspan="3"></td>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"></td>

        </tr>
    </table>
</body>
</html>